<div class="mt-1">
    {% if not word_dict %}
    <h5>Add a word:</h5>
    <form class="d-flex" action="/word/add_update_word">
        <label class="w-100 mt-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="word" placeholder="Word" required value="">
            </div>

            <div class="input-group mb-3">
                {% include 'snippets/type_selector.html' %}
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" name="english" placeholder="English" required>
            </div>

            <div class="input-group mb-3">
                <textarea class="form-control" name="sentence" placeholder="German sentence"></textarea>
            </div>

            <div class="input-group mb-3">
                <textarea class="form-control" name="sentence_eng" placeholder="English sentence"></textarea>
            </div>

            <div class="input-group mb-3">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </label>
    </form>
    {% endif %}
    {% if word_dict %}
    <h5>Update a word:</h5>
    <form class="d-flex" action="/word/add_update_word">
        <label class="w-100 mt-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="word" placeholder="Word" required value="{{word_dict['word']}}">
            </div>
    
            <div class="input-group mb-3">
    
                <div class="input-group mb-3">
                    {% include 'snippets/type_selector.html' %}
                </div>
    
            </div>
    
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="english" placeholder="English" required value="{{word_dict['english']}}">
            </div>
    
            <div class="input-group mb-3">
                <textarea class="form-control" name="sentence" placeholder="German sentence">{{word_dict['sentence']}}</textarea>
            </div>
    
            <div class="input-group mb-3">
                <textarea class="form-control" name="sentence_eng" placeholder="English sentence">{{word_dict['sentence_eng']}}</textarea>
            </div>
    
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </label>
    </form>
    {% endif %}
</div>
