<a class="navbar-brand" href="{{url_for('MainView:index')}}">German Words</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">&nbsp;<i class="fas fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
        </li>
    </ul>
    <form class="d-flex" action="{{url_for('WordView:search')}}">
        <input class="form-control me-2 shadow-sm" name="word" type="search" placeholder="Word" aria-label="Search"
            required>
        <button class="btn btn-outline-success shadow-sm" type="submit">Search</button>
    </form>
</div>