<a class="navbar-brand" href="{{url_for('MainView:index')}}">German Words</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">&nbsp;<i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('register')}}">&nbsp;<i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a>
        </li> 
    </ul>
</div>