{% extends 'base.html' %}

{% block title %}German Words{% endblock %}

{% block body %}


<div class="row p-2 justify-content-md-center">
    <div class="col-sm-12 col-md-6 col-lg-5 mb-2 p-0">
        <div class="p-3 card shadow">
            <h5 class="mb-3">Study:</h5>
            {% if not types %}
            <span>No words</span>
            {% else %}
            <form action="{{url_for('WordView:get_word')}}" id="shuffle-study">
                <div class="input-group mb-2 shadow-sm">
                    <input type="hidden" name="shuffle_words" value="" />
                    <input type="hidden" name="shuffle_study" value="" />
                    <input type="hidden" name="difficulty" value="" />
                    <select class="form-select" id="difficulty-select">
                        <option selected value="1">Learning</option>
                        <option value="0">Learned</option>
                        <option value="2">All</option>
                    </select>
                    <button onclick="shuffleStudy()" class="btn-lg  btn btn-warning"><i
                            class="fas fa-random"></i>&nbsp;&nbsp;Study</button>
                </div>
            </form>
            {% include 'snippets/add_update_button.html' %}
            <form class="d-flex" action="{{url_for('WordView:get_words_without_sentence')}}">
                <button type="submit" class="form-control btn-lg  btn btn-outline-dark mb-2"><i
                        class="fas fa-stream"></i>&nbsp;&nbsp;Add sentence</button>
            </form>
            {% endif %}
            {% for type in types %}
            <div>
                <div class="input-group mb-2">
                    <button onclick="location.href=`{{url_for('WordView:list', type=type)}}`"
                        class="btn-lg input-group-text shadow"><i class="fas fa-arrow-right"></i></button>
                    <button onclick="location.href=`{{url_for('WordView:list', type=type)}}`"
                        class="btn-lg form-control btn btn-success shadow" style="text-align:left"
                        type="button">{{type.title()}}s</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- {{words}} -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% if word_dict %}
<script>

    $(() => {
        addWordModal()
    });

</script>
{% endif %}

<script>

    $(() => {
        getCounts()
    });

    shuffleStudy = () => {

        var formInfo = document.forms['shuffle-study'];
        formInfo.shuffle_words.value = true
        formInfo.shuffle_study.value = true
        formInfo.difficulty.value = $("#difficulty-select").val()
        $("#shuffle-study").submit()

    }

</script>

{% endblock %}