{% extends 'base.html' %}

{% block title %}Types{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-6 mt-1 mb-3">
        <h5 class="mb-2">Word types</h5>

        {% for type in types %}
        <div class="input-group mb-2">
            <button onclick="location.href='/word/list?type={{type}}'" class="input-group-text"><i class="fas fa-arrow-right"></i></button>
            <button onclick="location.href='/word/list?type={{type}}'" class="btn btn-success" type="button">{{type}}s</button>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6 ">
        {% include 'snippets/add_update.html' %}
    </div>

</div>


<!-- {{words}} -->

{% endblock %}
