{% extends 'base.html' %}

{% block title %}Types{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-6 mt-1">
        <h5 class="mb-2">Word types</h5>

        {% for type in types %}
        <div class="input-group mb-2">
            <a href="/word/list?type={{type}}" class="button input-group-text"><i class="fas fa-arrow-right"></i></a>
            <a href="/word/list?type={{type}}" class="button btn btn-success" type="button">{{type}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6 ">
        {% include 'snippets/add_update.html' %}
    </div>

</div>


<!-- {{words}} -->

{% endblock %}